CREATE VIEW [dbo].[analyte] AS [analyte]
SELECT [analyte_key]
      ,[analyte_type]
      ,[analyte_name]
      ,[analyte_abbrev]
      ,[analyte_code]
      ,[analyte_data_type]
      ,[analyte_format]
      ,[uom_abbrev]
      ,[analyte_source_type]
      ,[analyte_agg_method]
      ,[analyte_algorithm]
      ,[analyte_desc]
      ,[analyte_size_frac_base]
	   FROM [ncsslabdata].[dbo].[analyte]
GO
