CREATE VIEW [dbo].[combine_nasis_ncss] AS [combine_nasis_ncss]
SELECT [pedon_key]
      ,[site_key]
      ,[pedlabsampnum]
      ,[pedoniid]
      ,[upedonid]
      ,[labdatadescflag]
      ,[priority]
      ,[priority2]
      ,[samp_name]
      ,[samp_class_type]
      ,[samp_classdate]
      ,[samp_classification_name]
      ,[samp_taxorder]
      ,[samp_taxsuborder]
      ,[samp_taxgrtgroup]
      ,[samp_taxsubgrp]
      ,[samp_taxpartsize]
      ,[samp_taxpartsizemod]
      ,[samp_taxceactcl]
      ,[samp_taxreaction]
      ,[samp_taxtempcl]
      ,[samp_taxmoistscl]
      ,[samp_taxtempregime]
      ,[samp_taxminalogy]
      ,[samp_taxother]
      ,[samp_osdtypelocflag]
      ,[corr_name]
      ,[corr_class_type]
      ,[corr_classdate]
      ,[corr_classification_name]
      ,[corr_taxorder]
      ,[corr_taxsuborder]
      ,[corr_taxgrtgroup]
      ,[corr_taxsubgrp]
      ,[corr_taxpartsize]
      ,[corr_taxpartsizemod]
      ,[corr_taxceactcl]
      ,[corr_taxreaction]
      ,[corr_taxtempcl]
      ,[corr_taxmoistscl]
      ,[corr_taxtempregime]
      ,[corr_taxminalogy]
      ,[corr_taxother]
      ,[corr_osdtypelocflag]
      ,[SSL_name]
      ,[SSL_class_type]
      ,[SSL_classdate]
      ,[SSL_classification_name]
      ,[SSL_taxorder]
      ,[SSL_taxsuborder]
      ,[SSL_taxgrtgroup]
      ,[SSL_taxsubgrp]
      ,[SSL_taxpartsize]
      ,[SSL_taxpartsizemod]
      ,[SSL_taxceactcl]
      ,[SSL_taxreaction]
      ,[SSL_taxtempcl]
      ,[SSL_taxmoistscl]
      ,[SSL_taxtempregime]
      ,[SSL_taxminalogy]
      ,[SSL_taxother]
      ,[SSL_osdtypelocflag]
      ,[siteiid]
      ,[usiteid]
      ,[site_obsdate]
      ,[latitude_decimal_degrees]
      ,[longitude_decimal_degrees]
      ,[country_key]
      ,[state_key]
      ,[county_key]
      ,[mlra_key]
      ,[ssa_key]
      ,[npark_key]
      ,[nforest_key]
      ,[note]
      ,[samp_taxfamhahatmatcl]
      ,[corr_taxfamhahatmatcl]
      ,[SSL_taxfamhahatmatcl]
      ,[pedobjupdate]
      ,[siteobjupdate]
	   FROM [ncsslabdata].[dbo].[combine_nasis_ncss]
GO
