CREATE VIEW [dbo].[layer] AS [layer]
SELECT [layer_key]
      ,[natural_key] AS  [labsampnum]
      ,[project_key]
      ,[site_key]
      ,[pedon_key]
      ,[layer_sequence]
      ,[layer_type]
      ,[layer_field_label_1]
      ,[layer_field_label_2]
      ,[layer_field_label_3]
      ,[hzn_top]
      ,[hzn_bot]
      ,[hzn_desgn_old]
      ,[hzn_desgn]
      ,[hzn_discontinuity]
      ,[hzn_master]
      ,[hzn_prime]
      ,[hzn_vert_subdvn]
      ,[hzn_desgn_other]
      ,[non_hzn_desgn]
      ,[stratified_textures_flag]
      ,[texture_description] 
	  FROM [ncsslabdata].[dbo].[layer]
GO
