CREATE VIEW [dbo].[site] AS [site]
SELECT [site_key]
      ,[user_site_id]
      ,[horizontal_datum_name]
      ,[latitude_direction]
      ,[latitude_degrees]
      ,[latitude_minutes]
      ,[latitude_seconds]
      ,[longitude_direction]
      ,[longitude_degrees]
      ,[longitude_minutes]
      ,[longitude_seconds]
      ,[latitude_std_decimal_degrees]
      ,[longitude_std_decimal_degrees]
      ,[msrepl_tran_version]
	   FROM [ncsslabdata].[dbo].[site]
GO
