
SELECT [natural_key]
      ,[result_source_key]
      ,[prep_code]
      ,[texture_lab]
      ,[particle_size_method]
      ,[clay_total]
      ,[silt_total]
      ,[sand_total]
      ,[clay_fine]
      ,[clay_caco3]
      ,[silt_fine]
      ,[silt_coarse]
      ,[sand_very_fine]
      ,[sand_fine]
      ,[sand_medium]
      ,[sand_coarse]
      ,[sand_very_coarse]
      ,[frag_2_5_mm_wt_pct_lt_75]
      ,[frag__2_20_mm_wt_pct_lt_75]
      ,[frag_5_20_mm_wt_pct_lt_75]
      ,[frag_20_75_mm_wt_pct_lt_75]
      ,[total_frag_wt_pct_gt_2_mm_ws]
      ,[wt_pct_1_tenth_to_75_mm]
      ,[bulk_density_tenth_bar]
      ,[bulk_density_tenth_bar_method]
      ,[bulk_density_third_bar]
      ,[bulk_density_third_bar_method]
      ,[bulk_density_oven_dry]
      ,[bulk_density_oven_dry_method]
      ,[bulk_density_lt_2_mm_air_dry]
      ,[bulk_density_air_dry_method]
      ,[bd_third_bar_lt2_reconstituted]
      ,[bd_thirdbar_reconstituted_method]
      ,[bulk_den_ovendry_reconstituted]
      ,[bulk_de_odreconstituted_method]
      ,[bulk_density_field_moist]
      ,[bulk_density_field_moist_metho]
      ,[particle_density_less_than_2mm]
      ,[particle_density_lt_2mm_method]
      ,[particle_density_gt_2_mm]
      ,[particle_density_gt_2mm_method]
      ,[cole_whole_soil]
      ,[cole_whole_soil_method]
      ,[le_third_fifteen_lt2_mm]
      ,[le_third_fifteen_lt2_metho]
      ,[le_third_ovendry_lt_2_mm]
      ,[le_third_ovendry_lt_2_mm_metho]
      ,[le_field_moist_to_oben_dry]
      ,[le_fm_to_od_method]
      ,[water_retention_0_bar_sieve]
      ,[water_retention_0_bar_method]
      ,[water_retention_6_hundredths]
      ,[water_retention_6_hund_method]
      ,[water_retention_10th_bar]
      ,[water_retention_10th_bar_meth]
      ,[water_retention_third_bar]
      ,[water_retention_thirdbar_metho]
      ,[water_retention_1_bar]
      ,[water_retention_1_bar_method]
      ,[water_retention_2_bar]
      ,[water_retention_2_bar_method]
      ,[water_retention_3_bar_sieve]
      ,[water_retention_3_bar_method]
      ,[water_retention_5_bar_sieve]
      ,[water_retention_5_bar_method]
      ,[water_retention_15_bar]
      ,[water_retention_15_bar_method]
      ,[water_retention_field_state]
      ,[water_retention_field_state_me]
      ,[airdry_ovendry_ratio]
      ,[atterberg_liquid_limit]
      ,[atterberg_liquid_limit_method]
      ,[atterberg_plasticity_index]
      ,[plastic_limit]
      ,[plastic_limit_method]
      ,[aggregate_stability_05_2_mm]
      ,[aggregate_stability_05_2_metho]
      ,[le_to_clay_third_bar_to_ovendr]
      ,[water_15_bar_to_clay_ratio]
      ,[cec7_clay_ratio]
      ,[effective_cec_to_clay_ratio]
      ,[psda_ethanol_dispersion_method]
      ,[sand_total_ethanol_dispersible]
      ,[silt_total_ethanol_dispersible]
      ,[clay_total_ethanol_dispersible]
      ,[sand_very_fine_ethanol_dispers]
      ,[sand_fine_ethanol_dispersible]
      ,[sand_medium_ethanol_dispersibl]
      ,[sand_coarse_ethanol_dispersibl]
      ,[sand_very_coarse_ethanol_disp]
      ,[water_dispersible_fraction_method]
      ,[clay_tot_h2o_dispersible]
      ,[clay_fine_h2o_dispersible]
      ,[clay_co3_h2o_dispersible]
      ,[silt_total_h2o_dispersible]
      ,[silt_fine_h2o_dispersible]
      ,[silt_coarse_h2o_dispersible]
      ,[sand_total_h2o_dispersible]
      ,[sand_vf_h2o_dispersible]
      ,[sand_fine_h2o_dispersible]
      ,[sand_medium_h2o_dispersible]
      ,[sand_coarse_h2o_dispersible]
      ,[sand_vc_h2o_dispersible]
      ,[color_pyrophosphate_extract]
      ,[color_pyrophosphate_method]
      ,[bd_thirdbar_before_rewet_organ]
      ,[bd_before_rewet_organic_method]
      ,[bd_thirdbar_rewet_organic_soil]
      ,[bd_third_rewet_organic_method]
      ,[bulk_den_rewet_oven_dry]
      ,[bulk_den_rewet_oven_dry_method]
      ,[mineral_content_loss_on_igniti]
      ,[mineral_content_loi_method]
      ,[estimated_organic_matter]
      ,[estimated_om_plus_mineral]
      ,[fiber_analysis_method]
      ,[fiber_unrubbed]
      ,[fiber_rubbed]
      ,[decomposition_state]
      ,[limnic_material_type]
	  INTO SDA_Physical_Properties
  FROM [NCSS_LDM].[dbo].[Physical_Properties]
     GO
CREATE INDEX [natural_key] ON [SDA_Physical_Properties](natural_key)
GO