
SELECT  [natural_key]
      ,[result_source_key]
      ,[prep_code]
      ,[analyzed_size_frac]
      ,[X_Ray_Method]
      ,[AM_Amphibole_X_Ray]
      ,[LC_Anacime_X_Ray]
      ,[AE_Anatase_X_Ray]
      ,[AG_Antigoite_X_Ray]
      ,[AO_Aragonite_X_Ray]
      ,[BT_Biotite_X_Ray]
      ,[BC_Biotite_Chlorite_X_Ray]
      ,[BR_Brucite_X_Ray]
      ,[CA_Calcite_X_Ray]
      ,[CL_Chlorite_X_Ray]
      ,[CM_Chlorite_Mica_X_Ray]
      ,[CR_Cristobalite_X_Ray]
      ,[DL_Dolomite_X_Ray]
      ,[EN_Enstatite_X_Ray]
      ,[FD_Feldspar_X_Ray]
      ,[GI_Gibbsite_X_Ray]
      ,[GL_Glauconite_X_Ray]
      ,[GE_Geothite_X_Ray]
      ,[GY_Gypsum_X_Ray]
      ,[KH_Halloysite_X_Ray]
      ,[HE_Hematite_X_Ray]
      ,[HN_Hornblende_X_Ray]
      ,[HB_Hydrobiotite_X_Ray]
      ,[IL_Illite_Hydromuscovite_X_Ray]
      ,[KK_Kaolinite_X_Ray]
      ,[FL_Labradorite_X_Ray]
      ,[LE_Lepidocrocite_X_Ray]
      ,[MH_Maghemite_X_Ray]
      ,[MG_Magnetite_X_Ray]
      ,[MI_Mica_X_Ray]
      ,[MT_Montmorillonite_X_Ray]
      ,[MC_Montmorillonite_Chlorite_X_Ray]
      ,[MM_Montmorillonite_Mica_X_Ray]
      ,[MV_Montmorillonite_Vermiculite_X_Ray]
      ,[MS_Muscovite_X_Ray]
      ,[NX_Non_Crystalline_X_Ray]
      ,[FO_Oligoclase_X_Ray]
      ,[FR_Orthoclase_X_Ray]
      ,[PG_Palygorskite_X_Ray]
      ,[PL_Phlogophite_X_Ray]
      ,[FP_Plagioclase_Feldspar_X_Ra]
      ,[FK_Potassium_Feldspar_X_Ray]
      ,[PY_Pyrophyllite_X_Ray]
      ,[QZ_Quartz_X_Ray]
      ,[RE_Resistant_Minerals_X_Ray]
      ,[SE_Sepiolite_X_Ray]
      ,[TA_Talc_X_Ray]
      ,[TH_Thenardite_X_Ray]
      ,[TD_Tridymite_X_Ray]
      ,[VR_Vermiculite_X_Ray]
      ,[VC_Vermiculite_Chlorite_X_Ray]
      ,[VH_Vermiculite_Hydrobiotite_X_Ray]
      ,[VM_Vermiculite_Mica_X_Ray]
      ,[ZE_Zeolite_X_Ray]
      ,[HA_Halite_X_Ray]
      ,[HS_Hydroxy_Interlayered_Smectite_X_Ray]
      ,[HV_Hydroxy_Interlayered_Vermiculite_X_Ray]
      ,[FT_Fluorapatite_XRay]
      ,[NU_Natrojarosite_X_Ray]
      ,[HA_PT_Paragonite_X_Ray]
      ,[NA_Natron_X_Ray]
      ,[JO_Jarosite_X_Ray]
      ,[SZ_Serpentine_X_Ray]
      ,[BE_Boehmite_X_Ray]
      ,[BD_Beidellite_X_Ray]
      ,[Clay_Mineral_Interpretation]
      ,[Coarse_Silt_Mineral_Interpretation]
      ,[Fine_Sand_Mineral_Interpretation]
      ,[Very_Fine_Sand_Mineral_Interpretation]
      ,[Differential_Scanning_Calorimeter_Method]
      ,[GI_Gibbsite_Differential_Scanning_Calorimetry]
      ,[KK_Kaolinite_Differential_Scanning_Calorimetry]
      ,[GE_Geothite_Differential_Scanning_Calorimetry]
      ,[GY_Gypsum_Differential_Scanning_Calorimetry]
      ,[AT_Alunite_Differential_Scanning_Calorimetry]
      ,[SM_Smectite_Differential_Scanning_Calorimetry]
      ,[KH_Halloysite_Differential_Scanning_Calorimetry]
      ,[QZ_Quartz_Differential_Scanning_Calorimetry]
      ,[VR_Vermiculite_Differential_Calorimetry]
      ,[Thermal_Gravimetric_Method]
      ,[AG_Gypsum_Thermal_Gravimetric_Analysis]
      ,[GI_Gibbsite_Thermal_Gravimetric_Analysis]
      ,[GE_Kaolinite_Differential_Thermal_Analysis]
      ,[KK_Kaolinite_Thermal_Gravimetric_Analysis]
      ,[AG_Antigorite_Thermal_Gravimetric_Analysis]
      ,[KH_Halloysite_Thermal_Gravimetric_Analysis]
      ,[MT_Montmorillonite_Thermal_Gravimetric_Analysis]
      ,[PG_Palygorskite_Thermal_Gravimetric_Analysis]
      ,[CA_Calcite_Thermal_Gravimetric_Analysis]
      ,[Differential_Thermal_Analysis_Method]
      ,[GI_Gibbsite_Differential_Thermal_Analysis]
      ,[KK_Kaolinite_Differential_Thermal_Analysis]
      ,[GE_Geothite_Differential_Thermal_Analysis]
      ,[KH_Halloysite_Differential_Thermal_Analysi]
      ,[QZ_Quartz_Differential_Thermal_Analysis]
  INTO SDA_XRay_And_Thermal
  FROM [NCSS_LDM].[dbo].[XRay_And_Thermal]
   GO
CREATE INDEX [natural_key] ON [SDA_XRay_And_Thermal](natural_key)
GO